<div>
    <form name="form">
        Product Name:
        <input type="text" name="name" ng-model="name" ng-minlength="{{vm.validator.minlength}}"
               ng-maxlength="{{vm.validator.maxlength}}" ng-required='{{vm.validator.required}}'/>
        <span ng-show="form.name.$dirty && form.name.$error.required">Name is required!</span>
        <span ng-show="form.name.$error.minlength">too short!</span>
        <span ng-show="form.name.$error.maxlength">too long!</span>
        Price:
        <input type="text" name="price" ng-model="price" ng-minlength="{{vm.validator.minlength}}"
               ng-maxlength="{{vm.validator.maxlength}}" ng-required='{{vm.validator.required}}'/>
        <span ng-show="form.price.$dirty && form.price.$error.required">Price is required!</span>
        <span ng-show="form.price.$error.minlength">too short!</span>
        <span ng-show="form.price.$error.maxlength">too long!</span>
        <button ng-click="vm.addProduct(name,price)">Add</button>
    </form>
</div>
